body {
  background-image: url("/src/img/background.gif");
}

/* Estilizando o contêiner principal onde os cards dos Pokémon
serão exibidos */
#pokemon-list {
  display: flex;
  /* Utilizando o modelo de layout flexível
para o contêiner */
  flex-wrap: wrap;
  /* Permitindo que os cards envolvam para a
próxima linha se não houver espaço suficiente */
  justify-content: center;
  /* Centralizando horizontalmente os cards
dentro do contêiner */
  align-items: center;
  /* Centralizando verticalmente os cards
dentro do contêiner */
  margin-top: 3%;
}

/* Estilizando o card individual de cada Pokémon */
.pokemon-card {
  border: 6px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 40vh;
  min-height: 380px;
  background-image: url('/src/img/pokefundocard.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center center; /* Centraliza a imagem de fundo nos eixos X e Y */
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}



/* Efeito de zoom quando o mouse está sobre o card do Pokémon */
.pokemon-card:hover {
  transform: scale(1.1);
  /* Ajuste o valor conforme necessário para o efeito desejado */
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave para o efeito */
}


.pokemon-card .pokemon-name {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer; /* Adiciona a mãozinha ao cursor */
  text-transform: capitalize; 
  color: black;
}

.pokemon-name:hover {
  box-shadow: 0 12px 40px 0 rgba(31, 38, 135, 0.45);
  transform: scale(1.05);
  color: white; /* Cor do brilho ao passar o mouse */
  text-shadow: 0 0 10px #008000, 0 0 20px #03bcf4, 0 0 30px #0e3742; /* Adiciona o efeito neon ao texto */
}

/* Estilizando a imagem do Pokémon dentro do card com efeito de zoom */
.pokemon-image {
  max-width: 500px;
  max-height: 500px;
  width: 350px;
  height: 250px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave para o efeito de zoom */
}

/* Efeito de zoom direto na imagem quando o mouse está sobre o card do Pokémon */
.pokemon-card:hover .pokemon-image {
  transform: scale(1.1);
  /* Ajuste o valor conforme necessário para o efeito desejado */
}

/* Adicionando os estilos para os tipos dos Pokémon */
.pokemon-card .pokemon-types {
  display: flex;
  justify-content: center;
  margin-bottom: 10%; /* Adicione um espaço entre a imagem e os tipos */
}

.pokemon-card .pokemon-types span {
  margin: 0 5px;
  padding: 3px 8px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.pokemon-card .type-normal {
  background-color: #a8a878;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-fighting {
  background-color: #c03028;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-flying {
  background-color: #a890f0;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-poison {
  background-color: #a040a0;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-ground {
  background-color: #e0c068;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-rock {
  background-color: #b8a038;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-bug {
  background-color: #a8b820;
  color: #fff;
  width: 12vh;
}

.pokemon-card .type-ghost {
  background-color: #705898;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-steel {
  background-color: #b8b8d0;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-fire {
  background-color: #f08030;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-water {
  background-color: #6890f0;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-grass {
  background-color: #78c850;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-electric {
  background-color: #f8d030;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-psychic {
  background-color: #f85888;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-ice {
  background-color: #98d8d8;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-dragon {
  background-color: #7038f8;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-dark {
  background-color: #705848;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-fairy {
  background-color: #ee99ac;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-unknown {
  background-color: #68a090;
  color: #fff;
  width: 10vh;
}

.pokemon-card .type-shadow {
  background-color: #705898;
  color: #fff;
  width: 10vh;
}


/* Estilizando o botão "Ver Mais" */
#load-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  /* Cor de fundo do botão */
  color: #fff;
  /* Cor do texto do botão */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* Centralizar na horizontal */
}


#load-more .pokeball-icon {
  width: 20px;
  height: auto;
  margin-right: 30px; /* Espaçamento entre o ícone e o texto */
}

/* Centralizar o contêiner principal na página */
#pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.pokeball-overlay {
  width: 300px;
  height: 270px;
  position: absolute;
  filter: contrast(0.12);
  transform: rotate(45deg);
  top: 15%;
  left: 15%;
  transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  z-index: 2;
}

.pokeball-overlay img {
  width: 60%; /* Ajusta a largura da imagem para ocupar 100% do contêiner */
  height: 60%; /* Ajusta a altura da imagem para ocupar 100% do contêiner */
}



/*Titulo da página Pokedex*/
.title {
  display: flex;
  justify-content: center;
}

/*Estlização do botão buscar*/
.btn {
  color: red;
  margin-right: 10vh;
  width: 25vh;
}

/*Estilização do campo Input*/

.form-control {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 30vh;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 300vh;
}

.pokebola {
  position: absolute;
  top: 42%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  box-shadow: inset -10px 10px 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.pokebola:before,
.pokebola:after {
  content: "";
  position: absolute;
}

.pokebola:before {
  background-color: #ef4036;
  width: 100%;
  height: 50%;
}

.pokebola:after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background-color: #000;
}

.botao {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.botao:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 50%;
  z-index: 10;
}

@keyframes gira {
  0% {
    transform: rotate(-400deg) scale(1);
    opacity: 1;
  }

  50% {
    transform: rotate(360deg) scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: rotate(720deg) scale(0);
    opacity: 0;
  }
}

.pokebola {
  animation: gira 3s ease-out forwards;
}

/* Adiciona um estilo para desabilitar a rolagem quando a classe 'scroll-disabled' estiver presente */
.scroll-disabled {
  overflow: hidden;
}