/* Estilizando o contêiner principal onde os cards dos Pokémon
serão exibidos */
#pokemon-list {
  display: flex;
  /* Utilizando o modelo de layout flexível
para o contêiner */
  flex-wrap: wrap;
  /* Permitindo que os cards envolvam para a
próxima linha se não houver espaço suficiente */
  justify-content: center;
  /* Centralizando horizontalmente os cards
dentro do contêiner */
  align-items: center;
  /* Centralizando verticalmente os cards
dentro do contêiner */
  margin-top: 3%;
}

/* Estilizando o card individual de cada Pokémon */
.pokemon-card {
  border: 6px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 40vh;
  min-height: 380px;
  background-color: whitesmoke;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center center;
  /* Centraliza a imagem de fundo nos eixos X e Y */
  background-repeat: no-repeat;
  background-size: cover;
}


/* Efeito de vidro no fundo do card */
.pokemon-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  backdrop-filter: blur(20px);
  z-index: 1;
  opacity: 0.7;
}

/* Efeito de zoom quando o mouse está sobre o card do Pokémon */
.pokemon-card:hover {
  transform: scale(1.1);
  /* Ajuste o valor conforme necessário para o efeito desejado */
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave para o efeito */
}


.pokemon-name {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Estilizando a imagem do Pokémon dentro do card com efeito de zoom */
.pokemon-image {
  max-width: 500px;
  max-height: 500px;
  width: 350px;
  height: 250px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave para o efeito de zoom */
}

/* Efeito de zoom direto na imagem quando o mouse está sobre o card do Pokémon */
.pokemon-card:hover .pokemon-image {
  transform: scale(1.1);
  /* Ajuste o valor conforme necessário para o efeito desejado */
}


/* Estilizando o botão "Ver Mais" */
#load-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  /* Cor de fundo do botão */
  color: #fff;
  /* Cor do texto do botão */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* Centralizar na horizontal */
}

#load-more .pokeball-icon {
  width: 20px;
  /* Ajuste a largura do ícone conforme necessário */
  height: auto;
  margin-right: 30px;
  /* Espaçamento entre o ícone e o texto */
}

/* Centralizar o contêiner principal na página */
#pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adicione outros estilos conforme necessário */

/* Estilos para tipos de Pokémon específicos */
.pokemon-card.type-fire {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-fire-that-is-on-blue-and-orange-backgrounds-image_2938214.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-card.type-water {
  background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-water-blue-background-picture-image_1260480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-card.type-grass {
  background-image: url("https://img.freepik.com/vetores-premium/fundo-de-paisagem-de-floresta-encantada_1308-67879.jpg");
}

.pokemon-card.type-electric {
  background-image: url("https://i.pinimg.com/236x/1b/00/c0/1b00c030cf2dbb8a84a5b6d0615066c6.jpg");
}

.pokemon-card.type-psychic {
  background-image: url("https://1.bp.blogspot.com/-CUPfS9zcUd4/YFkuv73DqmI/AAAAAAAARoI/epjrslcw2D8vjAJh3YzOZ7YrNIfTmXd2ACLcBGAsYHQ/w1600/capa-ps%25C3%25ADquico.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-card.type-flying {
  background-image: url("https://img.freepik.com/vetores-premium/ceu-azul-com-nuvens-fundo-elegante_778914-173.jpg");
  background-position: center;
  /* Centraliza a imagem de fundo */
}

.pokemon-card.type-fighting {
  background-image: url("https://img.freepik.com/vetores-premium/fundo-de-desenho-animado-em-quadrinhos-versus-luta_530597-712.jpg")
}

.pokemon-card.type-poison {
  background-image: url("/src/img/ie0pyp_baec903c0e74a345af260970dce01393b52aa462.jpg");
}

.pokemon-card.type-ground {
  background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p3/24054400-terra-textura-solo-topo-visao-dentro-desenho-animado-estilo-com-pedras-e-textura-desatado-jogos-interface-fundo-castanho-terra-ilustracao-vetor.jpg");
}

.pokemon-card.type-rock {
  background-image: url("https://img.freepik.com/vetores-gratis/uma-parede-de-pedra_1308-5911.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-card.type-ice {
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-do-inverno-com-uma-textura-de-gelo_1048-4071.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-card.type-bug {
  background-image: url("https://deepdreamgenerator.com/storage/fast_queue/temp_images/cf01d53871c0b3aaf56e90788b51a89ea29d4127.jpg  ");
}

.pokemon-card.type-ghost {
  background-image: url("https://st4.depositphotos.com/2617209/19791/v/450/depositphotos_197919700-stock-illustration-cartoon-halloween-happy-ghost-character.jpg");
}

.pokemon-card.type-steel {
  background-image: url("https://img.freepik.com/vetores-premium/aco-fundo-de-vetor-de-ferro_42077-5013.jpg");

}

.pokemon-card.type-dragon {
  background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p3/7743230-desenho-de-dragao-ocidental-com-asas-e-chifre-fundo-preto-arrastar-o-sol-no-fundo-vetor.jpg");
}

.pokemon-card.type-dark {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20220915/pngtree-dark-horror-character-drawing-background-dark-photography-photo-image_48720244.jpg");
}

.pokemon-card.type-fairy {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxyC5rtYxWbf9WQ-rBWliVpqCoUSDlwnGOXQ&usqp=CAU");
}

.pokemon-card.type-normal {
  background-image: url("/src/img/pokemonnormal.png");
}

/* Adicione mais classes e estilos conforme necessário */
.pokeball-overlay {
  width: 300px;
  height: 270px;
  position: absolute;
  filter: contrast(0.12);
  transform: rotate(45deg);
  top: 15%;
  left: 15%;
  transition: width 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  z-index: 2;
}

.pokeball-overlay img {
  width: 60%;
  /* Ajusta a largura da imagem para ocupar 100% do contêiner */
  height: 60%;
  /* Ajusta a altura da imagem para ocupar 100% do contêiner */
}

/*Colocar a imagem de fundo na pagina toda*/
body {
  background-image: url("/src/img/fundobody2.jpg");
}

/*Titulo da página Pokedex*/
.title {
  display: flex;
  justify-content: center;
}

/*Estlização do botão buscar*/
.btn {
  color: red;
  margin-right: 10vh;
  width: 25vh;
}

/*Estilização do campo Input*/

.form-control {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 30vh;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 300vh;
}

.pokebola {
  position: absolute;
  top: 42%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  box-shadow: inset -10px 10px 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: gira 3s linear infinite;
  /* Ajuste a velocidade e a duração conforme necessário */
}

.pokebola:before,
.pokebola:after {
  content: "";
  position: absolute;
}

.pokebola:before {
  background-color: #ef4036;
  width: 100%;
  height: 50%;
}

.pokebola:after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background-color: #000;
}

.botao {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.botao:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 50%;
  z-index: 10;
}

@keyframes gira {
  0% {
    transform: rotate(-400deg) scale(1);
    opacity: 1;
  }

  50% {
    transform: rotate(360deg) scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: rotate(720deg) scale(0);
    opacity: 0;
  }
}

.pokebola {
  animation: gira 2s ease-out forwards;
}

/* Adicione um estilo para desabilitar a rolagem quando a classe 'scroll-disabled' estiver presente */
.scroll-disabled {
  overflow: hidden;
}