* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/*Colocar a imagem de fundo na pagina toda*/
body {
    margin: 0;
    padding: 0;
    background-image: url("/src/img/fundobody.jpg");
    background-size: cover;
    /* Ajustado para cobrir 100% da largura e altura */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
}